{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form action="javascript:addColumn()">
    <div id="column-list"></div>
    <input type="submit" class="primary" value="Add column">
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["addColumn"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const columnList = document.getElementById("column-list");

    async function addColumn(){
        const columnData = columnList.querySelector("div");
        const name = columnData.querySelectorAll("input")[0].value;
        const type = columnData.querySelectorAll("select")[0].value;
        const constraint = columnData.querySelectorAll("select")[1].value;
        const _null = columnData.querySelectorAll("select")[2].value;
        const _default = columnData.querySelectorAll("input")[1].value;
        const data = await SQLQuery("{{ id }}", `alter table "{{ table }}" add column "${name}" ${type} ${constraint} ${_null} ${_default};`);

        try{
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else{
                parent.POP.alert("Column added");
                if (await getDatabaseConfig("{{ id }}", "table_{{ table }}_columns", "*") != "*")
                    await setDatabaseConfig("{{ id }}", "table_{{ table }}_columns", parent.currentColumnNames.join(",") + "," + name);
                parent.select("{{ table }}");
            }  
            
        }catch{}
    }

    columnList.append(addColumnField("", "TEXT", "", "", false))
</script>
{% endblock %}