{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form action="javascript:insertRow()" enctype="multipart/form-data">
    <table id="row-list"></table>
    <input type="submit" class="primary" value="Insert">
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["addRecord"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const rowList = document.getElementById("row-list");

    async function generateList(){
        const columnList = parent.currentTableInfo;
        for (const column of columnList) {
            rowList.append(addRowField(column));
        }
        document.dispatchEvent(new CustomEvent("generation-done"))
    }

    async function insertRow(){
        let queryColumns = [];
        let queryFields = [];
        let queryValues = [];
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("span").innerText;
            let value;
            if (tr.getAttribute("file") == "true"){
                let file = tr.querySelector("[type2='input']").files[0];
                value = await readUploadedFileAsText(file);
            } else {
                value = tr.querySelector("[type2='input']").value;
            }
            queryColumns.push(`"${column}"`);
            queryFields.push("?");
            queryValues.push(value);
        }
        const data = await simpleQuery("{{ id }}", `insert into "{{ table }}"(${queryColumns.join(",")}) values (${queryFields.join(",")})`, queryValues);
        try{
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else
                parent.POP.alert("Item inserted");
            parent.select("{{ table }}");
        }catch{}
    }
    
    generateList();
</script>

{% endblock %}