{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form action="javascript:createTable()">
    <div>
        <label for="table-name">Table name:</label><br>
        <input name="table-name" type="text" id="table-name" required>
    </div>
    <hr>
    Columns:
    <div id="column-list"></div>
    <button type="button" onclick="columnList.append(addColumnField())">+</button>
    <br>
    <hr>
    <br>
    <input type="submit" value="Create table" class="primary">
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/pops.js"></script>
{% for addon in addons["createTable"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const columnList = document.getElementById("column-list");

    columnList.addEventListener("click", (e) => {
        if (e.target.getAttribute("delete"))
            e.target.parentElement.remove();
    })

    async function createTable(){
        let queryTables = [];
        let somePrimaryKey = false;
        let query;
        let tableName = document.getElementById("table-name").value;
        
        for (const key of columnList.querySelectorAll("div")) {
            const column = key.querySelectorAll("input")[0].value;
            const type = key.querySelectorAll("select")[0].value;
            const constraint = key.querySelectorAll("select")[1].value;
            const _null = key.querySelectorAll("select")[2].value;
            const _default = key.querySelectorAll("input")[1].value;
            if (constraint == "PRIMARY KEY")
                somePrimaryKey = true;
            queryTables.push(`"${column}" ${type} ${constraint} ${_null} ${_default}`);
        }

        if (!somePrimaryKey)
            if (!await parent.POP.confirm("You have not created any column with primary key.\nThis will make editing cells more difficult.\nAre your sure you want to continue?"))
                return;

        query = `create table "${tableName}" (${queryTables.join(",")})`;

        const data = await simpleQuery("{{id}}", query);
        if (data["response"] == "Error")
            await parent.POP.alert("Error:\n" + data["why"]);
        else
            await parent.POP.alert("Table created");
        
        parent.refreshTableList();
    }

    columnList.append(addColumnField("ID", "INTEGER", "PRIMARY KEY", "AUTOINCREMENT", false))

</script>
{% endblock %}