{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form id="uploadForm">
    <table id="row-list"></table>
    <input id="buttonSubmit" type="submit" class="primary" value="Update">
    <button id="buttonDelete" type="button" onclick="submitDelete()">Delete record</button>
</form>
<dialog id="wait">Please wait...</dialog>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["editRecord"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    const isNew = params.get('new') == 1;

    const rowList = document.getElementById("row-list");
    let primaryKeyColumn;
    const searchData = {};
    

    async function init(){
        const tableInfo = parent.tableColumns;
        for (const column of tableInfo)
            rowList.append(addRowField(column));
        if (isNew){
            buttonDelete.remove();
            buttonSubmit.setAttribute("value", "Insert");
        } else {
            const record = parent.currentRecord;
            primaryKeyColumn = getPrimaryKeyColumn(tableInfo);
            searchData[primaryKeyColumn] = "{{ pk }}";
            
            for (const tr of rowList.querySelectorAll("tr")) {
                const input = tr.querySelector("textarea, select, input");
                const column = tr.querySelector("label").innerText;
                input.value = record[column];
            }
        }
        document.dispatchEvent(new CustomEvent("generation-done"));
    }

    uploadForm.addEventListener("submit", async function(event) {
        event.preventDefault();
        if (wait.hasAttribute("open"))
            return;
        let formData = new FormData(this);
        let url;
        url = (isNew) ?
            '/upload/{{ id }}/{{ table }}' : 
            `/upload/{{ id }}/{{ table }}?edit=1&pk_col=${primaryKeyColumn}&pk_val={{pk}}`;
        wait.setAttribute("open", "true");
        await fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok)
                return response.json().then(err => { throw new Error(err.error || 'Unknown error'); });
            return response.json();
        })
        .then(data => {
            if (isNew){
                parent.POP.alert("Record added");
                parent.select("{{ table }}");
            } else {
                parent.POP.alert("Record edited");
                parent.select("{{ table }}");
            }
            
        })
        .catch((error) => {
            parent.POP.alert("Error: " + error.message);
        });
        wait.removeAttribute("open");
    });

    async function submitDelete(){
        if (await parent.POP.confirm(`Are you sure you want to delete the record where "${primaryKeyColumn}" = '{{pk}}'?`)){
            const url = `/delete/row/{{ id }}/{{ table }}?pk_col=${primaryKeyColumn}&pk_val={{pk}}`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok)
                    return response.json().then(err => { throw new Error(err.error || 'Unknown error'); });
                return response.json();
            })
            .then(data => {
                parent.POP.alert("Record deleted");
                parent.select("{{ table }}");
            })
            .catch(error => {
                parent.POP.alert("Error: " + error.message);
            });
        }
    }

    function clearForm(){
        for (const e of document.querySelectorAll("table, button, input"))
            e.remove();
    }
    
    init();
</script>
{% endblock %}