{% extends 'dialogues/base.html' %}
{% block dialogue %}
<table id="row-list"></table>
<button class="primary" onclick="updateRow()">Update</button>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    const rowList = document.getElementById("row-list");
    let primaryKeyColumn;

    async function generateList(){
        const columnList = await getTableColumns("{{ id }}", "{{ table }}");
        primaryKeyColumn = getPrimaryKeyColumn(columnList);
        let item = await SQLQuery("{{ id }}", `select * from {{ table }} where ${primaryKeyColumn} = {{pk}}`)
        item = item["output"]["rows"][0];

        for (const column of columnList)
            rowList.append(addRowField(column));
        
        for (const div of rowList.querySelectorAll("tr")) {
            const input = div.querySelector("[type2='input']");
            const column = div.querySelector("span").innerText;
            input.value = item[column];
        }
    }

    async function updateRow(){
        let queryFields = [];
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("span").innerText;
            const value = tr.querySelector("[type2='input']").value;
            queryFields.push(`${column} = '${value}'`);
        }

        const data = await simpleQuery("{{ id }}", `update {{ table }} set ${queryFields.join(',')} where ${primaryKeyColumn} = {{pk}}`);
        try{
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else
                parent.POP.alert("Item edited");
            parent.select("{{ table }}");
        }catch{}
    }
    
    generateList();
</script>

{% endblock %}