{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form action="javascript:updateRecord()">
    <table id="row-list"></table>
    <input type="submit" class="primary" value="Update">
    <button type="button" onclick="deleteRecord()">Delete record</button>
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["editRecord"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const rowList = document.getElementById("row-list");
    let primaryKeyColumn;

    async function generateList(){
        const tableInfo = parent.currentTableInfo;
        const record = parent.currentRecord;
        primaryKeyColumn = getPrimaryKeyColumn(tableInfo);

        for (const column of tableInfo)
            rowList.append(addRowField(column));
        
        for (const tr of rowList.querySelectorAll("tr")) {
            const input = tr.querySelector("[type2='input']");
            const column = tr.querySelector("span").innerText;
            input.value = record[column];
        }

        document.dispatchEvent(new CustomEvent("generation-done"));
    }

    async function updateRecord(){
        let queryFields = [];
        let values = [];
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("span").innerText;
            let value;
            if (tr.getAttribute("file") == "true"){
                let file = tr.querySelector("[type2='input']").files[0];
                value = await readUploadedFileAsText(file);
            } else {
                value = tr.querySelector("[type2='input']").value;
            }
            queryFields.push(`"${column}" = ?`);
            values.push(value);
        }

        const data = await simpleQuery("{{ id }}", `update "{{ table }}" set ${queryFields.join(',')} where ${primaryKeyColumn} = '{{pk}}'`, values);
        
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else
                parent.POP.alert("Record edited");

        try{
            parent.select("{{ table }}");
        }catch{}

        return false;
    }

    async function deleteRecord(){
        if (await parent.POP.confirm(`Are you sure you want to delete the record where "${primaryKeyColumn}" = '{{pk}}'?`)){
            const data = await simpleQuery("{{ id }}", `delete from "{{ table }}" where "${primaryKeyColumn}" = '{{pk}}'`);
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else{
                parent.POP.alert("Record deleted");
                clearForm();
            }

            try{
                parent.select("{{ table }}");
            }catch{}
        }
    }

    function clearForm(){
        for (const e of document.querySelectorAll("table, button"))
            e.remove();
    }
    
    generateList();
</script>
{% endblock %}