{% extends 'dialogues/base.html' %}
{% block dialogue %}
<form action="javascript:submitUpdate()">
    <table id="row-list"></table>
    <input type="submit" class="primary" value="Update">
    <button type="button" onclick="submitDelete()">Delete record</button>
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["editRecord"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const rowList = document.getElementById("row-list");
    let oldRecord;
    let primaryKeyColumn;
    const searchData = {};
    

    async function init(){
        const tableInfo = parent.currentTableInfo;
        const record = parent.currentRecord;
        primaryKeyColumn = getPrimaryKeyColumn(tableInfo);
        searchData[primaryKeyColumn] = "{{ pk }}";

        for (const column of tableInfo)
            rowList.append(addRowField(column));
        
        for (const tr of rowList.querySelectorAll("tr")) {
            const input = tr.querySelector("[type2='input']");
            const column = tr.querySelector("label").innerText;
            input.value = record[column];
        }

        oldRecord = getRecordFromForm(document.querySelector("form"));

        document.dispatchEvent(new CustomEvent("generation-done"));
    }

    async function submitUpdate(){
        const newRecord = {}
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("label").innerText;
            let value;
            if (tr.getAttribute("file") == "true"){
                let file = tr.querySelector("[type2='input']").files[0];
                value = await readUploadedFileAsText(file);
            } else {
                value = tr.querySelector("[type2='input']").value;
            }
            newRecord[column] = value;
        }
        
        const data = await updateRecord("{{ id }}", "{{ table }}", newRecord, searchData);
        
        if (data["response"] == "Error"){
            parent.POP.alert("Error:\n" + data["why"]);
        }else{
            parent.POP.alert("Record edited");
            parent.dispatchEvent(new CustomEvent("record-edited", {
                detail: {
                    databaseName: "{{ id }}",
                    tableName: "{{ table }}",
                    record: compareRecords(oldRecord, newRecord)
                }
            }))
        }
        oldRecord = getRecordFromForm(document.querySelector("form"));
        parent.select("{{ table }}");

        return false;
    }

    async function submitDelete(){
        if (await parent.POP.confirm(`Are you sure you want to delete the record where "${primaryKeyColumn}" = '{{pk}}'?`)){
            const data = await deleteRecord("{{ id }}", "{{ table }}", searchData);
            if (data["response"] == "Error")
                parent.POP.alert("Error:\n" + data["why"]);
            else{
                parent.POP.alert("Record deleted");
                parent.dispatchEvent(new CustomEvent("record-deleted", {
                    detail: {
                        databaseName: "{{ id }}",
                        tableName: "{{ table }}",
                        record: oldRecord
                    }
                }))
                clearForm();
            }
            parent.select("{{ table }}");
        }
    }

    function clearForm(){
        for (const e of document.querySelectorAll("table, button, input"))
            e.remove();
    }
    
    init();
</script>
{% endblock %}