<!--
    This template should not be used in Libre Lists itself.
    But as an iframe in an external page, for example in Other Apps to create a quick form.
    Needless to say, the page should be in your own local network.
    Because outside the network would be an incredible security breach.
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form id="submit-form">
    <table id="row-list"></table>
    <input type="submit" value="Submit">
</form>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    const rowList = document.getElementById("row-list");
    const submitForm = document.getElementById("submit-form");
    const searchData = {};
    let primaryKeyColumn, edit, oldRecord;

    async function init(tableInfo, record){
        primaryKeyColumn = getPrimaryKeyColumn(tableInfo);
        searchData[primaryKeyColumn] = "{{ pk }}";

        for (const column of tableInfo)
            rowList.append(addRowField(column));
        
        for (const tr of rowList.querySelectorAll("tr")) {
            const input = tr.querySelector("[type2='input']");
            const column = tr.querySelector("label").innerText;
            input.value = (record[column]) ? (record[column]) : "";
        }
        oldRecord = getRecordFromForm(document.querySelector("form"));
        document.dispatchEvent(new CustomEvent("generation-done"));
    }

    async function submitUpdate(){
        const newRecord = {};
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("label").innerText;
            if (tr.getAttribute("file") == "true"){
                let file = tr.querySelector("[type2='input']").files[0];
                value = await readUploadedFileAsText(file);
            } else {
                value = tr.querySelector("[type2='input']").value;
            }
            newRecord[column] = value;
        }
        const data = await updateRecord("{{ id }}", "{{ table }}", newRecord, searchData);
        (data["response"] == "OK") ? alert("Record edited") : alert("Error:\n" + data["why"]);
    }

    async function submitInsert(){
        const newRecord = {};
        for (const tr of rowList.querySelectorAll("tr")) {
            if (!tr.querySelector("[type2='checkbox']").checked)
                continue;
            const column = tr.querySelector("label").innerText;
            if (tr.getAttribute("file") == "true"){
                let file = tr.querySelector("[type2='input']").files[0];
                value = await readUploadedFileAsText(file);
            } else {
                value = tr.querySelector("[type2='input']").value;
            }
            newRecord[column] = value;
        }
        const data = await insertRecord("{{ id }}", "{{ table }}", newRecord);
        (data["response"] == "OK") ? alert("Record inserted") : alert("Error:\n" + data["why"]);
    }

    window.addEventListener("message", (e) => {
        edit = (e.data["Record"]) ? true : false;
        if (edit)
            submitForm.setAttribute("action", "javascript:submitUpdate()");
        else
            submitForm.setAttribute("action", "javascript:submitInsert()");
        let record = (e.data["Record"]) ? e.data["Record"] : {};
        init(e.data["TableInfo"], record);
    })
</script>
</body>
</html>