@import url('themes/dark.css');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
    scrollbar-color: var(--bg) var(--fg);
}

button{
    border: 1px solid var(--black-02);
    border-radius: 0px;
    background-color: var(--black-02);
    color: var(--fg);
    font-family: var(--font);
    min-width: 64px;
    padding: 6px 12px 6px 12px;
    margin-bottom: 4px;
}

input, select, textarea {
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 6px;
    font-family: var(--font);
    border-radius: 0;
    border: 1px solid var(--black-02);
    margin-right: 8px;
    resize: vertical;
    background-color: var(--bg-2);
    color: var(--fg-2);
}

.primary{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

.item{
    display: flex;
    flex-direction: row;
}

button:hover{
    box-shadow: inset 0 0 100px 100px var(--white-05);
}

table{
    width: 100%;
}

table input, table textarea{
    width: 100%;
}

table input[type="color"]{
    padding: 0;
}