:root{
    --000: rgba(255, 255, 255, 0.2);
    --ddd: #272727;

    --bg: #202020;
    --fg: #f8f8f8;
    --bg-2: #202020;
    --fg-2: #f8f8f8;

    --a: rgb(136, 136, 255);
    
    --primary-bg: #04AA6D;
    --primary-fg: rgb(255, 255, 255);
    
    --toolbar-bg:#303030;
    --toolbar-fg:#fff;

    --white-005: rgba(0, 0, 0, 0.05);
    --white-01: rgba(0, 0, 0, 0.1);
    --white-02: rgba(0, 0, 0, 0.2);
    --white-05: rgba(0, 0, 0, 0.5);

    --black-005: rgba(255, 255, 255, 0.05);
    --black-01: rgba(255, 255, 255, 0.1);
    --black-02: rgba(255, 255, 255, 0.2);
    --black-05: rgba(255, 255, 255, 0.5);

    --selected: rgba(70, 255, 190, 0.6);
}