:root{
    --000: #000;
    --ddd: #ddd;

    --bg: #f3f2f1;
    --fg: #000;
    --bg-2: #fff;
    --fg-2: #000;

    --a: #00E;
    
    
    --primary-bg: #04AA6D;
    --primary-fg: rgb(255, 255, 255);
    
    --toolbar-bg:#333333;
    --toolbar-fg:#fff;

    --black-005: rgba(0, 0, 0, 0.05);
    --black-01: rgba(0, 0, 0, 0.1);
    --black-02: rgba(0, 0, 0, 0.2);

    --white-005: rgba(255, 255, 255, 0.05);
    --white-01: rgba(255, 255, 255, 0.1);
    --white-02: rgba(255, 255, 255, 0.2);
    --white-02: rgba(255, 255, 255, 0.2);

    --selected: rgba(70, 255, 190, 0.6);
}
