<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{% block title %} {% endblock %} </title>
    <script src="/static/js/pops.js"></script>
</head>
<body>
    <div class="editor">
        <nav class="navbar" id="navbar">
            <a href="/" class="home">Libre Lists</a>
            <div class="desktop">
                {% block navbar_content %}{% endblock %}
            </div>
            <div class="mobile">
                {% block navbar_content_mobile %}{% endblock %}
            </div>
        </nav>
        <div class="container">
            <noscript>
                <dialog open>
                    Your browser does not support JavaScript!
                </dialog>
            </noscript>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>