{% extends 'base.html' %}

{% block title %}Edit {{ id }} - Libre Lists{% endblock %}

{% block navbar_content %}
<div class="dropdown">
    <button class="dropbtn">Database</button>
    <div id="database-dropdown" class="dropdown-content">
        <a href="#" onclick="insertTableDialog()">Add Table</a>
        <hr>
        <a href="/json/database/{{id}}" target="_blank">Check JSON</a>
        <a href="#" onclick="select(DATABASE_CONFIG_TABLE)">Config</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Current table</button>
    <div id="table-dropdown" class="dropdown-content">
        <a href="#" id="navbar-add-column" onclick="addColumnDialog()">Add Column</a>
        <a href="#" id="navbar-add-row" onclick="addRecordDialog()">Add Record</a>
        <hr>
        <a href="#" onclick="displayTableDescription()">Table description</a>
        <a href="#" onclick="if(someTableIsSelected()){window.open('/json/table/{{ id }}/' + currentTable, '_blank')}">Check JSON table</a>
        <a href="#" onclick="deleteTableDialog(currentTable)">Delete Table</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">SQLite</button>
    <div id="database-dropdown" class="dropdown-content">
        <a href="#" onclick="SQLWindow()">SQL Window</a>
    </div>
</div>
{% endblock %}

{% block navbar_content_mobile %}
<!-- This menu is visible in mobile display  -->
<button class="icon" onclick="addRecordDialog()"></button>
<button class="icon" onclick="select(DATABASE_CONFIG_TABLE)"></button>
<button class="icon" onclick="deleteTableDialog(currentTable)">󰗩</button>
<button class="icon" onclick="SQLWindow()"></button>
{% endblock %}


{% block content %}
<div id="column-menu" class="rclick-menu" style="visibility: hidden;">
    <span id="column-menu-name" style="padding-bottom: 0px; font-weight: bold;"><b>Name</b></span>
    <span id="column-menu-type" style="font-size: 12px;">Type</span>
    <hr>
    <a href="#" onclick="renameColumnDialog(currentTable, selectedColumn, currentColumnNames)">Rename Column</a>
    <hr>
    <a href="#" onclick="deleteColumnDialog(currentTable, selectedColumn, currentColumnNames)" style="color: red;">Delete Column</a>
</div>

<div id="tableList" class="table-list">
    <span id='database-title' class='database-title'>{{ id }}</span>
    <button onclick="insertTableDialog()">+ Add table</button>
    <hr>
    <div id="table-list-buttons"></div>
</div>

<button class="icon" onclick="tableList.classList.toggle('collapsed')"></button>

<div id="tableEditor" class="main table-editor unselectable"></div>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["edit"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    var POP = new Pops();
    const DATABASE_ID = "{{ id }}";
    const VERSION = "{{ ver }}";
    const TABLE_LIST_BUTTONS = document.getElementById("table-list-buttons");
    const COLUMN_MENU = document.getElementById("column-menu");
    const DATABASE_TITLE = document.getElementById("database-title");

    var currentTable;
    var currentTableInfo;
    var currentTableCreateInfo;
    var currentRecord;
    var currentColumnNames;
    var selectedColumn;
    var clickedElement;
    var databaseName;
    var idCol;
    var filter = "";
    var canSelect = true;
    var limit = 100;
    var offset = 0;
    var columns;
    var tableColumns;
    var tableElement;

    tableEditor.addEventListener("click", (e) => {
        COLUMN_MENU.style.visibility = "hidden";
        switch(e.target.nodeName.toLowerCase()){
            case "th":
                displayColMenu(e.target.innerText);
                break;
            case "td":
                if (clickedElement)
                    clickedElement.classList.remove("selected");
                e.target.classList.add("selected");
                clickedElement = e.target;
                currentRecord = getRecordFromTr(e.target.parentElement);
                break;    
        }
    });

    async function refreshDatabaseName(){
        databaseName = await getDatabaseConfig(DATABASE_ID, "display_name", "{{ id }}");
        DATABASE_TITLE.innerText = databaseName;
    }

    async function SQLWindow(title = "SQL Window", _default = ""){
        const query = await POP.sqlwindow(title, _default);
        if (parseInt(query["Return"]) == 0){
            const res = await SQLQuery("{{ id }}", query["Properties"]["Query"]);
            if (res["response"] == "Error")
                await POP.alert("ERROR \n" + res["why"]);
            else
                await POP.output(res["output"]);
            select(currentTable);
            SQLWindow(title, query["Properties"]["Query"]);
        }
    }

    async function refreshTableList() {
        const tables = await getTables("{{ id }}");
        const hiddenTables = await getDatabaseConfig("{{ id }}", "hidden_tables", `sqlite_sequence,${DATABASE_CONFIG_TABLE}`);
        TABLE_LIST_BUTTONS.innerHTML = "";
        for (const table of tables)
            if (!hiddenTables.split(",").includes(table))
                addToTableList(TABLE_LIST_BUTTONS, table);
    }

    function selectNone(message = "Select a table to start"){
        tableEditor.innerHTML = message;
        currentTable = null;
        currentTableInfo = null;
    }

    async function select(tableName) {
        currentTable = tableName;
        offset = 0;
        columns = await getDatabaseConfig("{{ id }}", `table_${tableName}_columns`, "*");
        tableColumns = await getTableColumns("{{ id }}", currentTable, columns);
        loadDataToTable(tableEditor, currentTable);

        try{
            document.getElementById("table_" + currentTable).classList.add("selected");
        }catch{}

        return currentTable;
    }


    async function loadDataToTable(node, tableName){
        const selectTable = tableName;
        node.innerHTML = "";
        COLUMN_MENU.style.visibility = "hidden";

        for (const table of tableList.getElementsByTagName("button")) 
                table.classList.remove("selected");

        try {
            tableElement = document.createElement("table");
            node.appendChild(tableElement)
            tableElement.parentNode.addEventListener("scroll", () => {
                const scrollTop = tableEditor.scrollTop;
                const scrollHeight = tableEditor.scrollHeight;
                const clientHeight = tableEditor.clientHeight;
                const nearBottomThreshold = 200;
                const isNearBottom = scrollTop + clientHeight >= scrollHeight - nearBottomThreshold;
                if (isNearBottom){
                    offset += limit;
                    addTableChunk();
                }
            });
            tableElement.appendChild(generateTableHeader(tableColumns));
            addTableChunk();
            node.querySelector("table tr").insertAdjacentHTML("beforeend", `
                <div onclick="addColumnDialog()" style="min-width: 64px; text-align: center;">+</div>
            `)
            currentTableCreateInfo = await getTableCreationInfo("{{ id }}", selectTable);
            currentColumnNames = getTableColumnsNames(node.querySelector("table"))
        } catch (error) {
            selectNone("No table selected")
            return null
        }
    }

    async function addTableChunk(){
        const records = await getTableRecords("{{ id }}", currentTable, filter, columns, limit, offset);
        generateChunk(tableElement, records, tableColumns);
    }


    function someTableIsSelected(){
        if (!currentTable) {
            POP.alert("First, select a table");
            return false;
        } else
            return true;
    }

    function addToTableList(tableList, tableName){
        const button = document.createElement("button");
        button.innerHTML = tableName;
        button.setAttribute("id", "table_" + tableName);
        button.setAttribute("onclick", "select('" + tableName + "')");
        tableList.appendChild(button);
    }

    async function insertTableDialog(){
        await POP.iframe("Create table in " + databaseName, "/dialogue/createTable/{{ id }}", "900px", "400px");
    }

    async function addColumnDialog(){
        if (!someTableIsSelected())
            return;
        await POP.iframe("Add column in " + currentTable, "/dialogue/addColumn/{{ id }}/" + currentTable, "900px", "100px");
    }

    async function addRecordDialog(){
        if (!someTableIsSelected())
            return;
        await POP.iframe("Add record into " + currentTable, "/dialogue/addRecord/{{ id }}/" + currentTable, "400px", "400px", "left");
    }

    async function editRecordDialog(tr){
        let primaryKey = tr.querySelector("[entry-pk='1']");
        if (primaryKey == null){
            await POP.alert("Can't edit this record, it doesn't have a primary key")
            return;
        }
        await POP.iframe("Edit record in " + currentTable, "/dialogue/editRecord/{{ id }}/" + currentTable + "/" + primaryKey.innerText, "400px", "400px", "left");
    }

    async function deleteTableDialog(tableName){
        if (!someTableIsSelected())
            return;
        if (await POP.confirm("Are you sure you want to delete table \"" + tableName + "\"?")){
            const res = await SQLQuery("{{ id }}", `DROP TABLE IF EXISTS "${tableName}"`);
            if (res["response"] == "OK"){
                document.getElementById("table_" + tableName).remove();
                selectNone();
            }
        }
    }

    async function renameColumnDialog(tableName, column, columnNames){
        const newName = await POP.prompt("Enter new name", "text", column);
        if (!isValid(newName, VALID_NAME_WITH_SPACES)){
            await POP.alert("Name is not valid")
            return
        } else if (!newName){
            return
        }
        const res = await SQLQuery("{{ id }}", `alter table '${tableName}'\nrename column '${column}' to '${newName}'`);
        if (res["response"] == "OK"){
            if (await getDatabaseConfig("{{ id }}", `table_${tableName}_columns`, "*") != "*"){
                columnNames[columnNames.indexOf(column)] = newName
                await setDatabaseConfig("{{ id }}", `table_${tableName}_columns`, columnNames);
            }  
            select(tableName)
        } else {
            POP.alert("ERROR \n" + res["why"]);
        }
    }

    async function deleteColumnDialog(tableName, column, columnNames){
        if (await POP.confirm(`Are you sure you want to delete column "${column}"?`)){
            const res = await SQLQuery("{{ id }}", `alter table '${tableName}' drop column '${column}'`);
            if (res["response"] == "OK"){
                if (await getDatabaseConfig("{{ id }}", `table_${tableName}_columns`, "*") != "*"){
                    columnNames = columnNames.filter(e => e !== column);
                    await setDatabaseConfig("{{ id }}", `table_${tableName}_columns`, columnNames);
                }  
                select(tableName)
            }
        }
    }

    function displayColMenu(header) {
        selectedColumn = header;
        const columnButton = document.getElementById("button_" + header);
        document.getElementById("column-menu-name").innerHTML = header;
        document.getElementById("column-menu-type").innerHTML = columnButton.getAttribute("entry-type");
        const viewportOffset = columnButton.getBoundingClientRect();
        COLUMN_MENU.style.top = (viewportOffset.top + viewportOffset.height) + "px";
        COLUMN_MENU.style.left = viewportOffset.left + "px";
        COLUMN_MENU.style.visibility = "visible";
    }

    async function displayTableDescription(){
        if (!someTableIsSelected())
            return;
        const res = await SQLQuery("{{ id }}", `pragma table_info('${currentTable}')`);
        await POP.output(res["output"], `pragma table_info('${currentTable}')`);
    }

    refreshTableList();
    refreshDatabaseName();
    
    if ("{{ defaultTable }}"){
        select("{{ defaultTable }}")
        tableList.classList.toggle('collapsed')
    }
    else{
        selectNone();
    }
</script>

{% endblock %}