{% extends 'base.html' %}

{% block title %}Edit {{ id }} - Libre Lists{% endblock %}

{% block navbar_content %}
<div class="dropdown">
    <button class="dropbtn">Database
        <i class="fa fa-caret-down"></i>
    </button>
    <div id="database-dropdown" class="dropdown-content">
        <a href="#" onclick="insertTableDialog()">Add Table</a>
        <hr>
        <a href="/json/database/{{id}}" target="_blank">Check JSON</a>
        <a href="#" onclick="preferences()">Config</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Current table
        <i class="fa fa-caret-down"></i>
    </button>
    <div id="table-dropdown" class="dropdown-content">
        <a href="#" id="navbar-add-column" onclick="addColumnDialog()">Add Column</a>
        <a href="#" id="navbar-add-row" onclick="addRecordDialog()">Add Record</a>
        <hr>
        <a href="#" onclick="displayTableDescription()">Table description</a>
        <a href="#" onclick="if(someTableIsSelected()){window.open('/json/table/{{ id }}/' + currentTable, '_blank')}">Check JSON table</a>
        <a href="#" onclick="deleteTableDialog(currentTable)">Delete Table</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">SQLite
        <i class="fa fa-caret-down"></i>
    </button>
    <div id="database-dropdown" class="dropdown-content">
        <a href="#" onclick="SQLWindow('SQL Window', '', true, true)">SQL Window</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="column-menu" class="rclick-menu" style="visibility: hidden;">
    <span id="column-menu-name" style="padding-bottom: 0px; font-weight: bold;"><b>Name</b></span>
    <span id="column-menu-type" style="font-size: 12px;">Type</span>
    <hr>
    <a href="#" onclick="SQLWindow('Rename Column', `alter table ${currentTable}\nrename column ${selectedColumn} to `, false, true, false)">Rename Column</a>
    <hr>
    <a href="#" onclick="SQLWindow('Rename Column', `alter table ${currentTable}\ndrop column ${selectedColumn}`, false, true, false)" style="color: red;">Delete Column</a>
</div>

<div id="table-list" class="table-list">
    <span id='database-title' class='database-title'>{{ id }}</span>
    <button onclick="insertTableDialog()">+ Add table</button>
    <hr>
    <div id="table-list-buttons"></div>
</div>
<div id="table-editor" class="table-editor">
</div>

<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/addons.js"></script>
{% for addon in addons["edit"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    var POP = new Pops();
    const ID = "{{ id }}";
    const VERSION = "{{ ver }}";
    const TABLE_EDITOR = document.getElementById("table-editor");
    const TABLE_LIST = document.getElementById("table-list");
    const TABLE_LIST_BUTTONS = document.getElementById("table-list-buttons");
    const COLUMN_MENU = document.getElementById("column-menu");
    const DATABASE_TITLE = document.getElementById("database-title");

    var currentTable;
    var selectedColumn;
    var clickedElement;
    var databaseName;
    var idCol;
    var filter = "";

    TABLE_EDITOR.addEventListener("click", (e) => {
        COLUMN_MENU.style.visibility = "hidden";
        switch(e.target.nodeName.toLowerCase()){
            case "th":
                displayColMenu(e.target.innerText);
                break;
            case "td":
                if (clickedElement)
                    clickedElement.classList.remove("selected");
                e.target.classList.add("selected");
                clickedElement = e.target;
                break;    
        }
    })

    TABLE_EDITOR.addEventListener("dblclick", (e) => {
        switch (e.target.nodeName.toLowerCase()) {
            case "td":
                const colName = e.target.getAttribute("column");
                editRecordDialog(getRowPrimaryKey(e.target));
                break;
        }
    })

    async function refreshDatabaseName(){
        databaseName = await getInfo(ID, "display_name");
        DATABASE_TITLE.innerText = databaseName;  
    }

    async function preferences(){
        let configPopup = [];
        const data = await getJSONDatabase(ID);
        configPopup.push({
            "Element": "h3", "InnerText": "Configure " + databaseName
        });
        for (const i in data["metadata"]) {
            configPopup.push({
                "Element": "label", 
                "InnerText": fancyText(i) + ":",
                "Attributes": {
                    "For": "config_data_" + i
                }
            })
            configPopup.push({
                "Element": "input",
                "Attributes":{
                    "Value": data["metadata"][i],
                    "Id": "config_data_" + i,
                    "Property": i
                }
            })
        }
        configPopup.push({
            "Element": "button", 
            "InnerText": "Apply changes",
            "Attributes": {
                "Return": 0,
                "Class": "primary"
            }
        });
        configPopup.push({
            "Element": "button", 
            "InnerText": "Discard changes",
            "Attributes": {
                "Return": 1
            }
        });
        const props = await POP.custom(configPopup);
        if (parseInt(props["Return"]) == 0){
            const exportData = {};
            for (const prop in props["Properties"]) {
                exportData[prop] = props["Properties"][prop].split(",");
            }
            const res = await updateConfig("DB_METADATA", exportData, ID);
            await POP.alert("Changes applied\nYou may need to refresh the page to see the changes.");
        }
    }

    async function SQLWindow(title = "SQL Window", _default = "", loop = false, update = false, showOutput = true){
        const query = await POP.custom([
            {
                "Element": "span",
                "InnerText": title
            },
            {
                "Element": "br",
            },
            {
                "Element": "textarea",
                "InnerHTML": _default,
                "Attributes": {
                    "Cols": "50",
                    "Rows": "10",
                    "Placeholder": "Enter your SQL query here",
                    "Spellcheck": "false",
                    "Property": "Query",
                    "Style": "font-size: 20px;"
                }
            },
            {
                "Element": "br",
            },
            {
                "Element": "button", 
                "InnerText": "Execute",
                "Attributes": {
                    "Return": 0,
                    "Class": "primary"
                }
            },
            {
                "Element": "button", 
                "InnerText": "Cancel",
                "Attributes": {
                    "Return": 1,
                }
            }
        ])
        if (parseInt(query["Return"]) == 0){
            const res = await SQLQuery("{{ id }}", query["Properties"]["Query"]);
            if (res["response"] == "Error")
                await POP.alert("ERROR \n" + res["why"]);
            if (showOutput)
                await POP.output(res["output"]);

            if (update)
                select(currentTable);
            if (loop)
                SQLWindow(title, query["Properties"]["Query"], loop);
            
        }
    }

    async function refreshTableList() {
        const tables = await getTables("{{ id }}");
        TABLE_LIST_BUTTONS.innerHTML = "";
        for (const table of tables) {
            addToTableList(table);
        }
    }

    function selectNone(){
        TABLE_EDITOR.innerHTML = "Select a table to start";
        currentTable = null;
    }

    async function select(tableName) {
        const selectTable = tableName;
        const table = document.createElement("table");
        const tr = document.createElement("tr");
        TABLE_EDITOR.innerHTML = "";
        COLUMN_MENU.style.visibility = "hidden";

        for (const table of TABLE_LIST.getElementsByTagName("button")) 
                table.classList.remove("selected");

        try {
            const records = await getTable("{{ id }}", selectTable, filter);
            const tableColumns = await getTableColumns("{{ id }}", selectTable);

            TABLE_EDITOR.appendChild(generateTable(records, tableColumns));

            document.getElementById("table_" + selectTable).classList.add("selected");
            
        } catch (error) {
            const p = document.createElement("p");
            p.innerText = "No table is selected";
            TABLE_EDITOR.append(p);
        }
        currentTable = selectTable;
        return currentTable;
    }

    function someTableIsSelected(){
        if (!currentTable) {
            POP.alert("First, select a table");
            return false;
        } else
            return true;
    }

    function addToTableList(tableName){
        const button = document.createElement("button");
        button.innerHTML = tableName;
        button.setAttribute("id", "table_" + tableName);
        button.setAttribute("onclick", "select('" + tableName + "')");
        TABLE_LIST_BUTTONS.appendChild(button);
        TABLE_LIST_BUTTONS.appendChild(document.createElement("br"));
    }

    async function insertTableDialog(){
        await POP.iframe("Create table in " + databaseName, "/dialogue/createTable/{{ id }}", "900px", "400px");
    }

    async function addColumnDialog(){
        if (!someTableIsSelected())
            return;
        await POP.iframe("Add column in " + currentTable, "/dialogue/addColumn/{{ id }}/" + currentTable, "900px", "100px");
    }

    async function addRecordDialog(){
        if (!someTableIsSelected())
            return;
        await POP.iframe("Add record into " + currentTable, "/dialogue/addRecord/{{ id }}/" + currentTable, "400px", "400px");
    }

    async function editRecordDialog(primaryKey){
        if (!primaryKey){
            await POP.alert("Can't edit this record, it doesn't have a primary key")
            return;
        }
        await POP.iframe("Edit record in " + currentTable, "/dialogue/editRecord/{{ id }}/" + currentTable + "/" + primaryKey, "400px", "400px");
    }

    function getRowPrimaryKey(td){
        const tr = td.parentElement;
        try{
            return tr.querySelector("[entry-pk='1']").innerText;
        }catch{
            return undefined;
        }
    }

    async function deleteTableDialog(tableName){
        if (!someTableIsSelected())
            return;
        
        if (await POP.confirm("Are you sure you want to delete table \"" + tableName + "\"?")){
            if (await deleteTable("{{ id }}", tableName)){
                document.getElementById("table_" + tableName).remove();
                selectNone();
            }
        }
    }

    function displayColMenu(header) {
        selectedColumn = header;
        const columnButton = document.getElementById("button_" + header);
        document.getElementById("column-menu-name").innerHTML = header;
        document.getElementById("column-menu-type").innerHTML = columnButton.getAttribute("entry-type");
        const viewportOffset = columnButton.getBoundingClientRect();
        COLUMN_MENU.style.top = (viewportOffset.top + viewportOffset.height) + "px";
        COLUMN_MENU.style.left = viewportOffset.left + "px";
        COLUMN_MENU.style.visibility = "visible";
    }

    async function displayTableDescription(){
        if (!someTableIsSelected())
            return;
        const res = await SQLQuery("{{ id }}", `pragma table_info('${currentTable}')`);
        await POP.output(res["output"], `pragma table_info('${currentTable}')`);
    }

    refreshTableList();
    refreshDatabaseName();
    selectNone();
</script>

{% endblock %}