{% extends 'base.html' %}

{% block title %}Libre Lists{% endblock %}

{% block navbar_content %}
<a href="#" onclick="newDatabase()">New database</a>
<a href="/edit/{{ libre_lists_database }}?t=Preferences">Preferences</a>
<a href="#" onclick="about()">About</a>
{% endblock %}

{% block content %}
    <div class="index-list">
    <span style="font-size: 32px;margin: 16px 16px 0 16px;">List of databases</span>
    {% for database in databases %}
        {% if database != libre_lists_database %}
            <div class="index-list__item">
                <a href="/edit/{{ database }}" style="flex: 1;">{{ database }}</a>
                <a href="#" onclick="del('{{ database }}')" class="delete">Delete</a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
<script src="/static/js/global.js"></script>
<script src="/static/js/utils.js"></script>
{% for addon in addons["index"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const POP = new Pops();

    async function about(){
        await POP.iframe("About {{ver}}", "/static/about/about.html", "500px", "458px");
    }

    async function newDatabase(){
        const databaseName = await POP.prompt("Enter database name:");
        if (databaseName && isValid(databaseName)){
            window.location = "/create/" + databaseName;
        } else if (databaseName) {
            await POP.alert("\"" + databaseName + "\" is not a valid name");
        }
    }
    
    async function del(database){
        if(await POP.confirm("Are you sure you want to delete " + database + "?")){
            window.location = "/remove/" + database;
        }
    }
</script>
{% endblock %}