{% extends 'base.html' %}

{% block title %}Libre Lists{% endblock %}

{% block navbar_content %}
<a href="#" onclick="newDatabase()">New database</a>
<a href="#" onclick="preferences()">Preferences</a>
<a href="#" onclick="about()">About</a>
{% endblock %}

{% block content %}
    <div class="index-list">
    <span style="font-size: 32px;margin: 16px 16px 0 16px;">List of databases</span>
    {% for database in databases %}
        <div class="index-list__item">
            <a href="/edit/{{ database }}" style="flex: 1;">{{ database }}</a>
            <a href="#" onclick="del('{{ database }}')" class="delete">Delete</a>
        </div>
    {% endfor %}
    </div>
<script src="/static/js/global.js"></script>
<script src="/static/js/addons.js"></script>
{% for addon in addons["index"] %}
<script src="{{ addon }}"></script>
{% endfor %}
<script>
    const POP = new Pops();

    async function preferences(){
        let configPopup = [];
        const data = await getJSONConfig();
        configPopup.push({
            "Element": "h3", "InnerText": "Preferences"
        });
        for (const i in data) {
            configPopup.push({
                "Element": "label", 
                "InnerText": fancyText(i) + ":",
                "Attributes": {
                    "For": "config_data_" + i
                }
            })
            configPopup.push({
                "Element": "input",
                "Attributes":{
                    "Value": data[i],
                    "Id": "config_data_" + i,
                    "Property": i
                }
            })
        }
        configPopup.push({
            "Element": "button", 
            "InnerText": "Apply changes",
            "Attributes": {
                "Return": 0,
                "Class": "primary"
            }
        });
        configPopup.push({
            "Element": "button", 
            "InnerText": "Discard changes",
            "Attributes": {
                "Return": 1
            }
        });
        const props = await POP.custom(configPopup);
        if (parseInt(props["Return"]) == 0){
            const exportData = {};
            for (const prop in props["Properties"]) {
                exportData[prop] = props["Properties"][prop].split(",");
            }
            const res = await updateConfig("LL_CONFIG", exportData);
            await POP.alert("Changes applied\nYou may need to refresh the page to see the changes.");
        }
    }

    async function about(){
        await POP.custom([
            {
                "Element": "p",
                "InnerText": "About {{ver}}"
            },
            {
                "Element": "iframe",
                "Attributes": {
                    "Src": "/static/about/about.html",
                    "Width": "500px",
                    "Height": "450px",
                    "frameborder": "0"
                }
            },
            {
                "Element": "button",
                "InnerText": "X",
                "Attributes": {
                    "Return": 0,
                    "Style": "position: absolute; top: 0; right: 0; min-width: auto;"
                }
            }
        ])
    }

    async function newDatabase(){
        const databaseName = await POP.prompt("Enter database name:");
        if (databaseName && isValid(databaseName)){
            window.location = "/create/" + databaseName;
        } else if (databaseName) {
            await POP.alert("\"" + databaseName + "\" is not a valid name");
        }
    }
    
    async function del(database){
        if(await POP.confirm("Are you sure you want to delete " + database + "?")){
            window.location = "/remove/" + database;
        }
    }
</script>
{% endblock %}